{% extends 'core/base.html' %}

{% block title %}
  Browse
{% endblock %}

{% block content %}
  <div class="w-1/2 my-6 mx-auto p-6 bg-gray-100 border border-gray-300 rounded-xl">
    <h2 class="text-2xl text-center">Поиск</h2>
  </div>

  <div class="w-1/2 my-6 mx-auto p-6 bg-gray-100 border border-gray-300 rounded-xl">
    <p class="font-semibold">Категории</p>

    <ul class="grid grid-flow-col">
      {% for category in category_set %}
        <li class="py-4 rounded-xl{% if category.id == category_id %}{% endif %}">
          <a class="text-green-900 p-1 border border-green-300 rounded-xl" href="{% url 'recipe:browse' %}?query={{ query }}&category={{ category.id }}">{{ category.name }}</a>
        </li>
      {% endfor %}
    </ul>
    <div>
      <form class="grid grid-flow-col" method="get" action="{% url 'recipe:browse' %}">
        <input name="query" class="col-span-3 w-full p-2 border rounded-xl" type="text" value="{{ query }}" placeholder="Найти ..." />

        <button class="p-2 text-lg font-semibold bg-green-700 text-white rounded-xl hover:bg-gray-500">Найти</button>
      </form>
    </div>
  </div>

  <div>
    {% for recipe in recipe_set %}
      <div class="w-1/2 my-6 mx-auto p-6 bg-gray-100 border border-gray-300 rounded-xl">
        <div>
          {# prettier-ignore #}
          <a href="{% url 'recipe:detail' recipe.id %}">
              <div>
                <img src="{{ recipe.image.url }}" class="rounded-xl mx-auto img-fluid" style="height: 320px;width: 3200px;object-fit: cover" />
              </div>

              <div class="p-6">
                <h2 class="text-2xl text-center pb-6">{{ recipe.name }}</h2>
                <h2 class="text-xl pb-4 text-gray-800">Описание:</h2>
                <p class="text-l text-gray-700">{{ recipe.description }}</p>
              </div>

              <div class="text-l text-gray-700 text-right">
                @{{recipe.created_by}}
              </div>
            </a>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
