{% extends 'core/base.html' %}

{% block title %}
  {{ recipe.name }}
{% endblock %}

{% block content %}
  <div class="w-1/2 my-6 mx-auto p-6 bg-gray-100 border border-gray-300 rounded-xl">
    <h2 class="text-2xl text-center">{{ recipe.name }}</h2>
  </div>
  <div class="w-1/2 my-6 mx-auto p-6 bg-gray-100 border border-gray-300 rounded-xl">
    <div>
      <img src="{{ recipe.image.url }}" class="rounded-xl mx-auto img-fluid" style="height: 320px;width: 3200px;object-fit: cover" />
    </div>

    <div class="p-6">
      <h2 class="text-2xl">Время приготовления</h2>
      <h2 class="text-2xl">{{ recipe.cooking_time }}</h2>
      <h2 class="text-2xl">Шаги приготовления</h2>
      <h2 class="text-2xl">{{ recipe.steps }}</h2>
    </div>
  </div>
{% endblock %}
