{% extends 'core/base.html' %}

{% block title %}
  {{ recipe.name }}
{% endblock %}

{% block content %}
  <div class="w-1/2 my-6 mx-auto p-6 bg-gray-100 border border-gray-300 rounded-xl">
    <h2 class="text-2xl text-center">{{ recipe.name }}</h2>
  </div>
  <div class="w-1/2 my-6 mx-auto p-6 bg-gray-100 border border-gray-300 rounded-xl">
    <div>
      <img src="{{ recipe.image.url }}" class="rounded-xl mx-auto img-fluid" style="object-fit: cover" />
    </div>

    <div class="p-6">
      <h2 class="text-2xl">Время приготовления</h2>
      <h2 class="text-2xl">{{ recipe.cooking_time }}</h2>
      <h2 class="text-2xl">Шаги приготовления</h2>
      <h2 class="text-2xl">{{ recipe.steps }}</h2>
    </div>
  </div>
  <div class="w-1/2 my-6 mx-auto p-6 bg-gray-100 border border-gray-300 rounded-xl">
    {% if request.user == recipe.created_by %}
      <div class="col-span-2 p-6 bg-gray-200 rounded-xl">
        <p>Это ваш рецепт</p><br />
        {# prettier-ignore #}
        <a href="{% url 'recipe:edit_recipe' recipe.id %}" class="px-3 py-2 text-lg font-semibold bg-green-700 text-white rounded-xl">Изменить</a>
        {# prettier-ignore #}
        <a href="{% url 'recipe:delete_recipe' recipe.id %}" class="px-3 py-2 text-lg font-semibold bg-red-700 text-white rounded-xl">УДАЛИТЬ</a>
      </div>
    {% else %}
      {# prettier-ignore #}
      <a href="#" class="inline-block mt-6 px-6 py-3 text-lg font-semibold bg-teal-500 text-white rounded-xl hover:bg-teal-700">Contact seller</a>
    {% endif %}
  </div>
{% endblock %}
