{% extends 'core/base.html' %}

{% block title %}
  Cookbook
{% endblock %}

{% block content %}
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eligendi sequi consectetur placeat, cum quos quas ut, maiores reiciendis reprehenderit delectus eveniet ipsa illum, laborum dolores quod itaque rerum voluptatem perferendis at quasi natus. Laborum ullam, assumenda adipisci nihil, consequuntur laboriosam ut repudiandae, corporis ab aspernatur placeat ipsum sit excepturi libero.
{% endblock %}
